<div class="menu">
    <div class="logo">
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo">
    </div>

    <div class="links">
        <a href="/">Início</a>
        <a href="/emprestimo">Empréstimo</a>
        <div class="outros-links">
            <a href="/livros">Livros</a>
            <div class="outros-links-menu">
                <a href="/autores">Autores</a>
                <a href="/generos">Gêneros</a>
                <a href="/editoras">Editoras</a>
            </div>
        </div>
        <a href="/login">Login</a>
        <a href="/cadastro">Cadastro</a>
    </div>
</div>
