
body {
    background-color: #f1f1f1;
    margin: 0;
}

.logo img {
    width: 120px;
    height: auto;
}

.lado-dir img {
    width: 120px;
    height: auto;
}

.logo {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.container {
    display: flex;
    justify-content: center;
    justify-self: center;
    gap: 40px;
    width: 100%;
    margin-top: 10px;
}

.container form {
    background: #fff;
    border-radius: 10px;
    width: 60%;
    height: 70%;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    gap: 2%;
    justify-content: center;
    padding: 15px;
}

.container form h1 {
    text-align: center;
}

.container form input {
    border-radius: 6px;
    border: 1px solid #ccc;
    padding: 10px;
}

.container form input[type="submit"] {
    background-color: #0B6623;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    width: 150px;
}

.img img {
    height: 620px;
    margin-top: 0;
}

.linha {
    display: flex;
    gap: 10px;
}

.linha input {
    display: inline-block;
    width: 100%;
    flex: 1;
}

.cinza {
    background-color: #e5e5e5;
    padding: 12px;
    border-radius: 8px;
    width: fit-content; 
}