
body {
    background-color: #f1f1f1;
    margin: 0;
}

.logo img {
    width: 120px;
    height: auto;
}

.logo {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}

.container2 {
    display: flex;
    justify-content: center;
    align-content: center;
    justify-self: center;
    width: 100%;
    height: fit-content;
}

.container2 form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fff;
    border-radius: 10px;
    width: 60%;
    height: fit-content;
    box-shadow: 0 0 12px rgba(0,0,0,0.1);
    gap: 8px;
    padding: 15px;
    /* border: 5px solid rgb(13, 128, 0); */
}

.container2 form h1 {
    text-align: center;
    color: black;
}

.container2 form input {
    border-radius: 6px;
    border: 1px solid #ccc;
    padding: 10px;
}

.linha {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.linha button {
    background-color: #024513;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    width: 150px;
    height: fit-content;
}

.img {
    display: flex;
    justify-content: center; 
    align-items:flex-end; 
    width: 28%;
    /* border: 5px solid rgb(116, 219, 65); */
}

.img img {
    height: 460px;
    /* border: 5px solid rgb(194, 16, 3); */
}

.img2{
    display: flex;
    justify-content: center; 
    align-items:flex-end; 
    width: 20%;
    /* border: 5px solid rgb(116, 219, 65); */
}

.img2 img {
    height: 350px;
    /* border: 5px solid rgb(194, 16, 3); */
}

