table {
  border-collapse: collapse;
}

input, select {
  padding: 15px;
  border: 2px solid #4b724f;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-top: 5px;
  width: 600px;
  background-color: rgb(251, 253, 246);
}

form {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 20px;
  color:#3f5f42;
  justify-content: center;
}

button {
    background-color: #41a54e;
    border-radius: 10px;
    padding: 15px;
    border: 0px;
    width: 150px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
}

.link_login{
    font-size: 14px;
    color:#043212
}

.link_login a {
    text-decoration: none;
    background-color: #866d43;
    color: white;
    font-weight: bold;
}

.container {
    display: flex;
    gap: 70px;
}

form h1 {
    margin-bottom: 20px;
}
