.menu {
    height: 10vh;             
    min-height: 40px;         
    width: 100%;
    background: #353535;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 0 30px;
    box-sizing: border-box;
}

.menu a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

.menu .logo img {
    width: 180px;
}

.menu .logo p {
    display: flex;
}

.menu .links {
    display: flex;
    align-items: center;
}

.menu .links img {
    width: 18px;
    height: auto;
    margin-right: 5px;
}

.menu a:hover {
    color:rgb(255, 251, 34);
}

.container {
    height: 90vh;              
    overflow-y: auto;          
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
}

* { font-family:Arial, Helvetica, sans-serif;}

.outros-links {
    position: relative;
}

.outros-links-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;

    background: #353535;
    min-width: 160px;

    flex-direction: column;
    padding: 10px 0;
    z-index: 1000;
}

.outros-links:hover .outros-links-menu {
    display: flex;
}

.outros-links-menu a {
    margin: 0;
    padding: 8px 15px;
}

.outros-links-menu a:hover {
    background-color: #4a4a4a;
}