.menu {
    height: 10vh;             
    min-height: 60px;         
    width: 100%;
    background: #353535;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 0 30px;
    box-sizing: border-box;
}

.menu a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

.menu .logo img {
    width: 120px;
}

.menu .links {
    display: flex;
    align-items: center;
}

.menu .links img {
    width: 18px;
    height: auto;
    margin-right: 5px;
}

.menu a:hover {
    color:rgb(255, 251, 34);
}

.container {
    height: 90vh;              
    overflow-y: auto;          
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
}

* { font-family:Arial, Helvetica, sans-serif}
