h1 { color: #333; }

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th, table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

table th {
  background-color: #e9ecef;
}

button{
  background-color: #4e73df;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover{
  background-color: #2e59d9;
}

.success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
  padding: 10px 15px;
  margin: 10px 0;
  border-radius: 6px;
}

.error {
  display: flex;
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  padding: 10px 15px;
  margin: 20px 0;
  border-radius: 6px;
  width:fit-content;
  justify-self: center;
}
