{% extends 'base.html'%}

{% block titulo %} autores {% endblock %}

{% block conteudo %}
    <h1>autores</h1>
    {% if autores %}
    <table border="1">
        <tr>
            <th>Nome</th>
            <th>Biografia</th>
            <th></th>
        </tr>
        {% for livro in autores %}
        <tr>
            <td>{{ autor.nome }}</td>
            <td>{{ autor.biografia }}</td>
            <td>{{ autor.nacionalidade }}</td>
            <td>{{ autor.data_nascimento }}</td>
            <td>
                <a>
                    <form action="{{ url_for('remover_autor') }}" method="post" style="display:inline;">
                    <input type="hidden" name="id" value="{{ autores.id_autor }}">
                    <button type="submit">Remover</button>
                    </form>
                </a>
                <a href="{{ url_for('editar_autores', id=autores.id_autor) }}"><button type="button">Editar</button></a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
        <p>Nenhum livro cadastrado.</p>
    {% endif %}
    <a href="{{url_for('registrar_autor')}}">Adicionar livro</a>
{% endblock %}