{% extends 'base.html'%}

{% block titulo %} autoras {% endblock %}

{% block conteudo %}
{% with mensagens = get_flashed_messages(with_categories=true) %}
    {% if mensagens %}
        {% for categoria, mensagem in mensagens %}
          <p class="{{ categoria }}">{{ mensagem }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}
    <h1>🧑✏️ </h1>
    {% if autores %}
    <table border="1">
        <tr>
            <th>Nome</th>
            <th>Biografia</th>
            <th></th>
        </tr>
        {% for autor in autores %}
        <tr>
            <td>{{ autor.nome_autor }}</td>
            <td>{{ autor.biografia }}</td>
            <td>{{ autor.nacionalidade }}</td>
            <td>{{ autor.data_nascimento }}</td>
            <td>
                <a>
                    <form action="{{ url_for('remover_autor', id = autor.id_autor) }}" method="post" style="display:inline;">
                    <input type="hidden" name="id" value="{{ autores.id_autor }}">
                    <button type="submit">Remover</button>
                    </form>
                </a>
                <a href="{{ url_for('editar_autor', id = autor.id_autor) }}"><button type="button">Editar</button></a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
        <p>Nenhum autor cadastrado.</p>
    {% endif %}
    <a href="{{url_for('registrar_autor')}}">Registrar Autor</a>
{% endblock %}