{% extends 'base.html'%}

{% block titulo %} Cadastro {% endblock %}
{% block extra_css %}<link rel="stylesheet" href="{{ url_for('static', filename='cadastro.css') }}">{% endblock %}

{% block conteudo %}

<div class="container">
    <div class="container2">
        <form action="" method="post">
            <h1>FORMULÁRIO DE CADASTRO</h1>
            Nome: <input type="text" name="nome">
            Email: <input type="email" name="email">
            Senha: <input type="password" name="senha">
            Numero de Telefone: <input type="text" name="numero_telefone">
            <div class="linha">
                <i><p class="link_login">Já possui uma conta? Clique aqui e faça <a href="{{url_for('login')}}">LOGIN.</a></p></i>
            <button type="submit">CONFIRMAR</button>
            </div>
        </form>
        <div class="img">
            <img src="../static/img/menino-lendo.png" alt="">
        </div>  
    </div>
    {% with mensagens = get_flashed_messages(with_categories=true) %}
        {% if mensagens %}
            {% for categoria, mensagem in mensagens %}
            <p class="{{ categoria }}">{{ mensagem }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>


{% endblock %}