{% extends 'base.html' %}

{% block titulo %} Cadastro {% endblock %}

{% block conteudo %}
<form action="" method="post">
    Titulo: <input type="text" name="titulo" value="{{ titulo or '' }}"><br>
    Autor: <input type="text" name="autor" value="{{ autor_nome or '' }}"><br>
    ISBN: <input type="text" name="isbn" value="{{ isbn or '' }}"><br>
    Ano publicado: <input type="date" name="ano_publicacao" value="{{ ano_publicacao or '' }}"><br>
    Gênero: <input type="text" name="genero" value="{{ genero or '' }}"><br>
    Editora: <input type="text" name="editora" value="{{ editora or '' }}"><br>
    Quantidade disponível: <input type="text" name="quantidade_disponivel" value="{{ quantidade_disponivel or '' }}"><br>
    Resumo: <input type="text" name="resumo" value="{{ resumo or '' }}"><br>
    <button type="submit">Enviar</button>
</form>

{% if autor_nao_existe %}
    <hr>
    <h3>⚠️ Autor "{{ autor_nome }}" não encontrado!</h3>
    <p>Cadastre o autor abaixo:</p>

    <form action="{{ url_for('registrar_autor') }}" method="post">
        Nome: <input type="text" name="nome" value="{{ autor_nome }}"><br>
        Nacionalidade: <input type="text" name="nacionalidade"><br>
        Data de nascimento: <input type="date" name="data_nascimento"><br>
        Biografia: <input type="text" name="biografia"><br>
        <button type="submit">Cadastrar Autor</button>
    </form>
{% endif %}

{% endblock %}
