{% extends 'base.html' %}
{% block titulo %}Cadastrar Livro{% endblock %}
{% block conteudo %}

{% with mensagens = get_flashed_messages(with_categories=true) %}
    {% if mensagens %}
        {% for categoria, mensagem in mensagens %}
          <p class="{{ categoria }}">{{ mensagem }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}

<h1>📚 Cadastrar Livro</h1>

<form method="POST" action="{{ url_for('criar_livro') }}">

    Título:
    <input type="text" name="titulo" required><br>

    Autor:
    <select name="autor_id" required>
        <option value="">Selecione</option>
        {% for autor in autores %}
            <option value="{{ autor.id_autor }}">{{ autor.nome_autor }}</option>
        {% endfor %}
    </select><br>

    ISBN:
    <input type="text" name="isbn" required><br>

    Ano publicado:
    <input type="number" name="ano_publicacao" required><br>

    Gênero:
    <select name="genero_id" required>
        <option value="">Selecione</option>
        {% for genero in generos %}
            <option value="{{ genero.id_genero }}">{{ genero.nome_genero }}</option>
        {% endfor %}
    </select><br>

    Editora:
    <select name="editora_id" required>
        <option value="">Selecione</option>
        {% for editora in editoras %}
            <option value="{{ editora.id_editora }}">{{ editora.nome_editora }}</option>
        {% endfor %}
    </select><br>

    Quantidade disponível:
    <input type="number" name="quantidade_disponivel" required><br>

    Resumo:
    <input type="text" name="resumo"><br>

    <button type="submit">Salvar</button>
    <a href="{{ url_for('livros') }}">Cancelar</a>
</form>
<p style="font-size: 12px;"><i>⚠️ Não é possível cadastrar um livro sem autor, gênero e editora cadastrados. Registre-os primeiro.</i></p>
{% endblock %}
