{% extends 'base.html' %}

{% block titulo %} Cadastro {% endblock %}

{% block conteudo %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>Editar Livro</h1>
    <form method="POST" action="{{ url_for('editar_livros', livro=livro)}}">
        <input type="hidden" name="id" value="{{ livro.id_livro }}">

        <!-- <label for="titulo">Titulo:</label><br>
        <input type="text" id="titulo" name="titulo" value="{{ livro.titulo }}" required><br><br>

        <label for="autor">Autor:</label><br>
        <input type="text" id="autor" name="autor" value="{{ autor }}" required><br><br>

        <label for="genero">Gênero:</label><br>
        <input type="text" id="genero" name="genero" value="{{ genero }}" required><br><br>

        <label for="editora">Editora:</label><br>
        <textarea id="editora" name="editora" rows="4" required>{{ editora }}</textarea><br><br>

        <label for="isbn">isbn:</label><br>
        <input type="number" step="0.01" id="isbn" name="isbn" value="{{ livro.isbn }}" required><br><br>

        <label for="descricao">Descrição:</label><br>
        <textarea id="descricao" name="descricao" rows="4" required>{{ livro.descricao }}</textarea><br><br>   -->

        <button type="submit">Salvar Alterações</button>
        <a href="{{ url_for('livros') }}"><button type="button">Cancelar</button></a>
    </form>
</body>
</html>


{% endblock %}