{% extends 'base.html' %}
{% block titulo %}Editar Empréstimo{% endblock %}
{% block conteudo %}

{% with mensagens = get_flashed_messages(with_categories=true) %}
    {% if mensagens %}
        {% for categoria, mensagem in mensagens %}
            <p class="{{ categoria }}">{{ mensagem }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}

<h1>📖 Editar Empréstimo</h1>

<form method="POST" action="{{ url_for('editar_emprestimos', id_emprestimo=emprestimo.id_emprestimo) }}">

    <label><b>Usuário:</b></label>
    <label>{{ emprestimo['nome_usuario'] }}</label>
    <br>

    <label><b>Livro:</b></label>
    <select name="livro_id" required>
    {% for livro in livros %}
        <option value="{{ livro.id_livro }}"
            {% if livro.id_livro == emprestimo.livro_id %}selected{% endif %}>
            {{ livro.titulo }}
        </option>
    {% endfor %}
    </select>
    <br>

    <label><b>Data do Empréstimo:</b></label>
    <span>{{ emprestimo.data_emprestimo[:10] }}</span>
    <input type="hidden" name="data_emprestimo" value="{{ emprestimo.data_emprestimo[:10] }}">
    <br>

    <label><b>Devolução Prevista:</b></label>
    <span>{{ emprestimo.data_devolucao_prevista[:10] }}</span>
    <input type="hidden" name="data_devolucao_prevista" value="{{ emprestimo.data_devolucao_prevista[:10] }}">
    <br>

    <label><b>Devolução Real:</b></label>
    <input type="date"
           name="data_devolucao_real"
           value="{{ emprestimo.data_devolucao_real[:10] if emprestimo.data_devolucao_real else '' }}">
    <br>

    <label><b>Status:</b></label>
    <span>{{ emprestimo.status_emprestimo }}</span>
    <input type="hidden" name="status_emprestimo" value="{{ emprestimo.status_emprestimo }}">
    <br><br>

    <button type="submit">Salvar</button>
    <a href="{{ url_for('ver_emprestimos') }}">Cancelar</a>
</form>

{% endblock %}
