{% extends 'base.html'%}

{% block titulo %} Livros {% endblock %}

{% block conteudo %}
    <h1>Livros</h1>
    {% if livros %}
    <table border="1">
        <tr>
            <th>Nome</th>
            <th>Resumo</th>
            <th></th>
        </tr>
        {% for livro in livros %}
        <tr>
            <td>{{ livro.titulo }}</td>
            <td>{{ livro.resumo }}</td>
            <td>
                <a>
                    <form action="{{ url_for('remover_livro') }}" method="post" style="display:inline;">
                    <input type="hidden" name="id" value="{{ livro.id_livro }}">
                    <button type="submit">Remover</button>
                    </form>
                </a>
                <a href="{{ url_for('editar_livro', id=livro.id_livro) }}"><button type="button">Editar</button></a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
        <p>Nenhum livro cadastrado.</p>
    {% endif %}
    <a href="{{url_for('criar_livros')}}">Adicionar livro</a>
{% endblock %}