{% extends 'base.html'%}

{% block titulo %} Livros {% endblock %}

{% block conteudo %}
    <h1>📚 Livros</h1>
    {% if livros %}
    <table border="1">
        <tr>
            <th>Título</th>
            <th>Resumo</th>
            <th>Gênero</th>
            <th>Autor</th>
            <th>Editora</th>
            <th>Ano de Publicação</th>
            <th>Quantidade Disponível</th>
            <th>ISBN</th>

        </tr>
        {% for livro in livros %}
        <tr>
            <td style="width: 10%;">{{ livro.titulo }}</td>
            <td style="width: 30%;">{{ livro.resumo }}</td>
            <td>{{ livro.genero }}</td>
            <td>{{ livro.autor }}</td>
            <td>{{ livro.editora }}</td>
            <td>{{ livro.ano_publicacao }}</td>
            <td>{{ livro.quantidade_disponivel }}</td>
            <td>{{ livro.isbn }}</td>
            <td>
                <a>
                    <form action="{{ url_for('remover_livro') }}" method="post" style="display:inline;">
                    <input type="hidden" name="id" value="{{ livro.id_livro }}">
                    <button type="submit">Remover</button>
                    </form>
                </a>
                <a href="{{ url_for('editar_livro', id=livro.id_livro) }}"><button type="button">Editar</button></a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
        <p>Nenhum livro cadastrado.</p>
    {% endif %}
    <a href="{{url_for('criar_livro')}}">Adicionar livro</a>
{% endblock %}