{% extends 'base.html' %}

{% block titulo %} Cadastro {% endblock %}

{% block conteudo %}
{% with mensagens = get_flashed_messages(with_categories=true) %}
    {% if mensagens %}
        {% for categoria, mensagem in mensagens %}
          <p class="{{ categoria }}">{{ mensagem }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}
<h1>🧑✏️ Registrar Autor</h1>
<form action="" method="post">
    Nome: <input type="text" name="nome"><br>
    Nacionalidade: <input type="text" name="nacionalidade"><br>
    Data de nascimento: <input type="date" name="data_nascimento"><br>
    Biografia: <input type="text" name="biografia"><br>
    <button type="submit">Enviar</button>
</form>


{% endblock %}